 <div class="ps-home-banner">
   <div class="ps-carousel--dots owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000"
     data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="1" data-owl-item-xs="1"
     data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="off"
     data-owl-animate-in="fadeIn" data-owl-animate-out="fadeOut">

     <div class="ps-banner ps-banner--1 bg--cover" data-background="./assets/img/castillo/hogwarts.jpg">
       <div class="ps-banner__content">
         <h3>Unete a la Mejor Hogwarts </h3>
         <p>te espera </p><a class="ps-btn" href="#"> Unete</a>
       </div>
     </div>

   </div>


 </div>

 <div class="ps-section ps-home-best-services">
   <div class="ps-section__left bg--cover" data-background="./assets/img/cancha1.jpg"></div>
   <div class="ps-section__right">
     <div class="ps-section__container">
       <div class="ps-section__header">

         <h3>Colegio Hogwarts de Magia y Hechicería</h3>
       </div>
       <div class="ps-section__content">
         <p>Draco dormiens nunquam titillandus</p>
         <ul>
           <li>EXCELENCIA</li>
           <li>DEDICACION</li>
           <li>VALORES</li>
           <li>INTEGRIDAD</li>

         </ul>
       </div>
     </div>
     <div class="ps-section__image bg--cover" data-background="./assets/img/lello1.jpg"></div>
   </div>
 </div>

 <div class="ps-section ps-home-booking bg--cover" style="background-color: sienna;"
   data-background="./assets/img/hogwartsS.jpg">
   <div class="container">
     <div class="ps-section__header">

       <h3 style="color: white;">Realiza una Solicitud de Inscripcion</h3>


     </div>
     <div class="ps-section__content">
       <form class="ps-form-home-booking" action="#" method="post">
         <div class="row">
           <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 ">
             <div class="form-group--icon"><i class="fa fa-user"></i>
               <input class="form-control" type="text" placeholder="3 Users">
             </div>
           </div>
           <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 ">
             <div class="form-group--icon"><i class="fa fa-calendar"></i>
               <input class="form-control ps-datepicker" type="text" placeholder="">
             </div>
           </div>
           <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 ">
             <div class="form-group--icon"><i class="fa fa-clock-o"></i>
               <input class="form-control" type="text" placeholder="">
             </div>
           </div>
         </div>
         <div class="ps-form__footer">
           <button class="ps-btn">UNETE</button>

         </div>
       </form>
     </div>
   </div>
 </div>