
    <footer class="ps-footer ps-footer--dark">
      <div class="ps-footer__content">
        <div class="container">
          <div class="ps-footer__left">
          
          </div>
          <div class="ps-footer__center">
            <div class="ps-site-info"><a class="ps-logo" href="index-2.html"><img src="./assets/img/escudo.png" alt=""></a>
              <p>Colegio Hogwarts de Magia y Hechicería </p>
              <p>Draco dormiens nunquam titillandus </p>
             
            </div>
          </div>
          <div class="ps-footer__right">
      
          </div>
        </div>
      </div>
      <div class="ps-footer__bottom">
        <div class="container">
          <ul class="ps-list--social">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
          </ul>
          <p><a href="https://www.templateshub.net" target="_blank">Hogwarts</a></p>
        </div>
      </div>
    </footer>